ion-avatar {
    height: 65%;
    width: 50%;
}

ion-content {
    --background: url("../../assets/img/bag3.jpg") 0 0/100% 100% no-repeat;
    font-family: "Times New Roman", Times, serif;
    color: var(--ion-color-primary-contrast);
}

ion-content h1 {
    color: white;
    margin-top: 28%;
    margin-bottom: 15%;
}

ion-slides {
    margin-top: 30%;
    display: block;
    --bullet-background: gray;
    --bullet-background-active: white;
}

h2 {
    margin-bottom: 60%;
    color: white;
}