<ion-content class="padding">
    <h1 class="ion-text-center">¿DE QUÉ QUIERES TOMAR CONTROL?</h1>
    <ion-slides pager="true" [options]="slideOps">
        <ion-slide *ngFor="let tool of tools">
            <ion-avatar (click)="selectTool(tool.name)">
                <img src="{{tool.imgUrl}}" />
                 <p color="danger" *ngIf="alertError1">Esta opcion no esta habilitada</p> 
                <h2>
                    <b>
                        {{tool.name}}
                    </b>
                </h2>
              
            </ion-avatar>
        </ion-slide>
    </ion-slides>

</ion-content>